{% extends "myrestaurants/base.html" %}

{% block content %}

<h1>
    <i class="fa fa-bars" aria-hidden="true"></i> Total Data
</h1>
<hr>
<div class="_d">
<ul class="list">
              <li>
                Restaurant: {{ num_resto }}
              </li>
              <li>
                Total Dish: {{ num_dish }}
              </li>
              <li>
                Total Review: {{ num_review }}
              </li>
              <li>
                Reviewer: {{ num_reviewer }}
              </li>


</ul>
</div>
{% endblock %}

{% block footer %}
    Created by {{ dish.user }} on {{ dish.date }}
{% endblock %}
