{% extends "myrestaurants/base.html" %}
{% block content %}
<h1>
    <i class="fa fa-cutlery" aria-hidden="true"></i> Restaurants
    {% if user %}
      <div class="pullright">
        <a href="{% url 'myrestaurants:restaurant_create' %}"><i class="fa fa-plus" aria-hidden="true"></i> add</a>
      </div>
    {% endif %}
</h1>
<hr>
<ul class="list">
    {% for restaurant in latest_restaurant_list %}
        <li>
          <a href="{% url 'myrestaurants:restaurant_detail' restaurant.id %}">
            {{ restaurant.name }}
          </a>
        </li>
    {% empty %}
      <li>Sorry, no restaurants registered yet.</li>
    {% endfor %}
</ul>
{% endblock %}
